/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        padding:3em 0;
    }

    .title{
        text-align: center;
        font-size: 2.3em;
        padding: 0;
    }
    #image{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #logo>div>i{
        display: flex;
    }

    #navbar-link{
        display: none;
    }

    #navbar-link ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-size: 1.2em
    }

    #navbar-link ul li{
        margin: .6em;
    }
    
    #body-container>div>h1{
        padding:2.5em;
        font-size: 1.5em;
        font-weight: bolder;
    }

    #body-container>div{
        margin-top: 4em;
    }

    #line{
        display: none;
    }

    #about-container{ 
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        padding: 2em 0;
    }

    #about-container>div>p{
        margin: 0;
        line-height: 1.5;
        font-size: 1em;
    }

    #card{
        margin: 0 5%;
    }

    #card img{
        border-radius: 50%;
        margin-right: 1.5em;
        width: 100px;
        height: 100px;
    }

    #contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5em;
    }

    #footer>p{
        font-size: .6em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .container{
        padding:3em 0;
    }

    .title{
        text-align: center;
        font-size: 2.3em;
        padding: 0;
    }
    #image{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #logo>div>i{
        display: flex;
    }

    #navbar-link{
        display: none;
    }

    #navbar-link ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-size: 1.2em
    }

    #navbar-link ul li{
        margin: .6em;
    }
    
    #body-container>div>h1{
        padding:2.5em;
        font-size: 2em;
        font-weight: bolder;
    }

    #body-container>div{
        margin-top: 4em;
    }

    #line{
        display: none;
    }

    #about-container{ 
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        padding: 2em 0;
    }

    #about-container>div>p{
        margin: 0;
        line-height: 1.5;
        font-size: 1em;
    }

    #card{
        margin: 0 5%;
    }

    #card img{
        border-radius: 50%;
        margin-right: 1.5em;
        width: 100px;
        height: 100px;
    }

    #contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5em;
    }

    #footer>p{
        font-size: .6em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }

    #logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #logo>div>i{
        display: flex;
    }

    #navbar-link{
        display: none;
    }

    #navbar-link ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-size: 1.2em
    }

    #navbar-link ul li{
        margin: .6em;
    }

    #body-container>div>h1{
        padding:2.5em;
        font-size: 2em;
        font-weight: bolder;
    }

    #body-container>div{
        margin-top: 3em;
    }

    #about-container{ 
        display: flex;
        margin: 0 5%;
        padding: 2em 0;
    }

    #image{
        width: 200px;
    }

    #service p{
        line-height: 1.5;
        margin: 0 5%;
    }

    #card{
        margin: 0 5%;
    }

    #card img{
        width: 70px;
        height: 70px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
