*,html,body{
    margin:0;
    font-family: 'Bellota Text';
    scroll-behavior:smooth; 
   
}

.title{
    text-align: center;
    font-size: 2.3em;
    padding: 1em;
}

.container{
    background-color: #dedad5;
    padding:3em 0;
}

.h80{
    height: 90vh;
}
/* *****************************Navbar css************************** */

#logo img{
    width: 150px;
    height: 70px;
    margin: 0 2em;
}

#logo>div>i{
display: none;
padding: 2px;
color: white;
font-size: 2em;
}



.navbar{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c97712;
}

#navbar-link ul{
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    /* animation: moveInBottom 1s ease-in-out 1s; */
    animation: moveInRight 1s ease-in-out .5s;
    animation-fill-mode: backwards;

}

#navbar-link ul li{
    margin: 1.8em;
}

#navbar-link ul li a{
    color: black;
}

#navbar-link ul li a:hover,#navbar-link ul li a:focus{
    color: white;
    text-decoration: none;
    transform: translateY(-2px);
}

/* *****************************body css************************** */
#body-container>div{
    background-image: linear-gradient(
        to right bottom,
        rgba(221, 217, 212, .2),
        rgba(221, 217, 212, .1)), 
    url(img/Slidde3.png);
    /* background-image: url('img/Slidde3.png'); */
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-top: 5.5em;
    background-color: rgb(221, 217, 212);
}

#body-container>div>h1{
    padding:2.2em;
    font-size: 4em;
    color: #c97712;
    font-weight: bolder;
    animation: moveInBottom 1s ease-in 1s;
}
/* *****************************about css************************** */
#about-container{ 
    display: flex;
    margin: 0 15%;
    padding: 2em 0;
}

#about-container>div>p{
    margin-left: 3em;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.1em;
    animation: moveInBottom 1s ease-in-out 1s;
}

/* *****************************service css************************** */
#service{
    /* background-image: url('img/services.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white; */
    background-color: #f2ede6;
}

h1>hr{
    display: flex;
    align-items: center;
    width: 20%;

    margin: auto;
}

/* *****************************contact css************************** */
#contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5em;
}

#contact-form>form>div{
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit]:hover {
    background-color: #c97712;
  }

  #contact-item>div{
      margin: 1.5em 0;
      line-height: 2;
      padding: 0 1.5em;
  }


.p-br{
    border-radius: 50%;
    padding: .7em;
}

  #social>a>i{
    background-color: #c97712;
    color: white;
    font-size: 1.3em;
    margin: .3em;
  }

  #fbook{
    padding: .7em .9em;
    border-radius: 50%;
}

  #social>a>i:hover{
      transform: translateY(-2px);
      color: #c97712;
      background-color: white;
  }

#contact hr{
      display: flex;
      align-items: center;
      width: 60%;
      margin: auto;
}

#contact-form p{
    display: none;
    background-color: red;
    color: white;
    font-size: 1.2em;
    padding: .5em;
    border-radius: 4px;
}


#footer>p>a{
    color: white;
}


#service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    padding: 2em 0; 
}

#card {
    display: flex;
    margin: 0 20%;
    padding: 1.3em 0;
    animation: moveInBottom 1s ease-in-out .75s;
    animation-fill-mode: backwards;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
}

#card img{
    border-radius: 50%;
    margin-right: 1.5em;
}

#card p {
    text-align: justify;
    color: black;
    line-height: 1.5;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(20rem);
    }

    80%{
        transform: translateX(-20rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}